[user]
	name = sanil
	email = sanilio@gmail.com
[core]
	editor = vim
	autocrlf = input
[init]
	defaultBranch = main

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
